#rotate{
  margin-top: 1rem;
  width: 300px;
  height: 300px;
  margin:1rem auto;
  background-color: bisque;  
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-repeat : no-repeat;
  background-size : cover;
}
/* background-image: url('../../images/map.png'); */

#rotate .rotate-controls{
  height: 40px;
  background-color: cadetblue;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;  
}

#rotate button{
  cursor: pointer;
  border:none;
  background-color: transparent;
  color:white;
  padding:.5rem;
  text-transform: uppercase;
  text-align: center;
  flex: 1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: all 0.3s ease;
}

#rotate button:hover{
  opacity: 0.4;
}
#rotate button:active{
  opacity: 0.9;
}

#rotate .rotate-deg{
  text-align: center;
  padding:.5rem;
  width: 100%;
  display: block;
  font-size: 2rem;
}

#rotate .rotate-arrow{
  font-size: 10rem;
  height: 100%;
  color:royalblue;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#rotate .fa-arrow-up{

  transition: transform 3000ms cubic-bezier(0.675, 0.210, 0.740, 1.075); /* custom */
  transition-timing-function: cubic-bezier(0.675, 0.210, 0.740, 1.075); /* custom */
}

